html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.board {
  display: flex;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
  padding: 10px;
  width: 450px;
  height: 450px;
  background-color: rgba(177,166,139,0.8) ;
}

.controls-button {
  width: 50px;
  height: 50px;
}

.tile {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 23%;
  height: 23%;
  font-size: 40px;
  font-family: 'Lexend Tera', sans-serif;
}

.t2, .t256 {
  background-color: #eeb0f5;
}
.t4, .t512 {
  background-color: #a1edc0;
}

.t8, .t1024 {
  background-color: #82e8e5;
}
.t16, .t2048 {
  background-color: #1df0e9;
}
.t32 {
  background-color: #bc62f5;
}
.t64 {
  background-color: #36f790;
}

.t128 {
  background-color: aqua;
}
.losetext {
  position: absolute;
  color: #fff;
  font-size: 50px;
  font-family: 'Lexend Tera', sans-serif;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(177,166,139,0.8) ;
}

#score {
  align-self: flex-start;
  margin-left: 20px;
  color: #eeb0f5;
  font-size: 50px;
  line-height: 0px;
  font-family: 'Lexend Tera', sans-serif;
  order: -1;
}

.btns_div{
  position: absolute;
  right: 10%;
  width: 170px;
  justify-items: center;
}
.btns_div_right_left {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.controls-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(177,166,139,0.2) ;
  border: 1px solid #eeb0f5;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 11px;
  transition: all 0.3s;
}

.controls-button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.btn_up_down {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  background-color: rgba(217, 217, 217, 0.5);
  width: 100%;
  bottom: 0px;
}

.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img_footer {
  width: 80px;
  height: auto;
  transition: all 0.2s;
}

.txt {
  color: black;
  font-size: 20px;
  font-family: 'Lexend Tera', sans-serif;
}

.txt.link {
  text-decoration: none;
  transition: all 0.2s;
}

.txt.link:hover, .img_footer:hover {
  cursor: pointer;
  transform: scale(1.2);
}